*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #46e41694);
    padding: 10px;
}

.card {
    background-color: #fff;
    width: 100%;
    max-width: 550px;
    padding-top: 70px;
    padding-bottom: 60px;
    padding-right: 35px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
    
}

.title {
    display: flex;
    gap: 15px;
    width: 70%;
    align-items: center;
}
h2 {
    color: #153677;
    font-size: 36px;
    display: flex;
    gap: 15px;
    align-items: center;

}
h2>img {
    width: 35px;
}

.main {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 15px 50px;
    background: #6d45ff;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

ul li {
    list-style: none;
    font-size: 19px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before {
    content: '';
    position: absolute;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before {
    background-image: url(images/checked.png);
}
ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #eeee;
}

.shake {
    animation: shake 1s;
}
@keyframes shake {
    0% { transform: translate(5px, 0px) }
    10% { transform: translate(-5px, 0px)}
    20% { transform: translate(4px, 0px)}
    30% { transform: translate(-4px, 0px)}
    40% { transform: translate(3px, 0px)}
    50% { transform: translate(-3px, 0px)}
    60% { transform: translate(2px, 0px)}
    70% { transform: translate(-2px, 0px)}
    80% { transform: translate(1px, 0px)}
    90% { transform: translate(1px, 0px)}
    100% { transform: translate(0px, 0px)}
}